<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>
  <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <div class='container'>
      <div class='row mt-5'>
      <div class="col-sm-2">
      <nav class="navbar">

      <% if(currentUser) { %>
        <% if (authorizer.edit()) { %>
          <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning btn-block my-2 mx-auto" style='width:95px'>Edit</a>
        <% } %>
        <% if (authorizer.destroy()) { %>
          <form action="/wikis/<%= wiki.id %>/destroy" method="post">
          <button type="submit" class="btn btn-danger btn-block my-2 mx-auto" style='width:95px'>Delete</button>
          </form>
        <% } %>

        <% if(wiki.private && authorizer.setPublic()) { %>
          <form action="/wikis/<%= wiki.id %>/setpublic" method="post">
          <button type="submit" class="btn btn-warning btn-block my-2 mx-auto" style='width:95px'>Set Public</button>
          </form>
        <% } else if (!wiki.private && authorizer.setPrivate()) { %>
          <form action="/wikis/<%= wiki.id %>/setprivate" method="post"><button type="submit" class ="btn btn-success btn-block my-2 mx-auto" style='width:95px'>Set Private</button>
          </form>
        <% } %>

      <% } else { %>
        <lead> Please log in to edit wikis.</lead>
      <% } %>

      </nav>
      </div>

      <div class="col-sm-10 border-left">
        <div class="card border-primary mb-3">
          <h3 class="card-header bg-primary text-white"><%- markdown.toHTML(wiki.title).slice(3,-4) %>
            <% if(wiki.private) { %>
             <span class="badge badge-pill badge-warning ml-2" style="font-size:small">Private</span>
            <% } %>
          </h3>
        <div class="card-body"> <%- markdown.toHTML(wiki.body) %> </div>
      </div>

      <small class="card-subtitle mb-2 text-muted">
        by <%= wiki.creator.name %> on <%= wiki.createdAt %>
      </small>

      <% if(wiki.private && collaborators!='none') { %>
        <h3 class='mt-4'>Collaborators</h3>
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Access</th>
            </tr>
          </thead>
          <tbody>
            <% collaborators.forEach(user => { %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                  <input type="checkbox" name=<%=user.id%> value="true" checked disabled>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } %>

      </div>
      </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>